svg {
    font-size: 80px;
}

.units, .temp {
    font-weight: bold;
    font-size: 2rem;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: white;
}
  
  