// Navbar.scss
.navbar {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.8);

    .text {
        color: white;
        font-size: 18px;
    }
}
  

  