
.slider {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .item {
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;

        &.active {
            width: 100%;
            opacity: 1;
        }
    }
}
  