.infoWindow {
    display: flex;
    flex-direction: column;
    
    svg {
        color: goldenrod;
        font-size: 24px;
    }
}

img[alt~="Google"] {
    display: none;
}

.gm-style .gm-style-iw-c {
    background-color: #f9c9b4;
    color: red;
}
